{% extends 'base.html' %}
{% block title %}Suggestions{% endblock %}
{% block content %}

<div>
  <p>&nbsp;</p>
</div>
<form name="SelectTheSorting">
  <table>
  <thead>
    <tr>
      <th colspan="4">Search options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" style="border-style: solid; border-width:1px;">Tähän rakennetaan hakukenttä</td>
    </tr>
    <tr>
      <td><b><font style="color:red;">Sort and Go</font</b></td>
      <td>Status</td>
      <td>Type</td>
      <td>Labels</td>
    </tr>
    <tr>
      <td>
        <!-- original starts -->
        <!-- // http://localhost:8080/suggestions/?filters=status:received|type:new|tags:slm musiikki&search=sovit&sort=CREATED_ASC
        // http://localhost:8080/suggestions/?filters=status%3Areceived%7Ctype%3Anew%7Ctags%3Aslm%08musiikki&search=sovit&sort=CREATED_ASC
        // : 	%3A
        // |  %7C
        // backspace %08 -->
        <!-- sorting -->
        <select name="links" id="links">
          <option value="nothing" selected="selected">No sorting</option>
          <option value="http://localhost:5000/suggestionlisting/DEFAULT">Default</option>
          <option value="http://localhost:5000/suggestionlisting/COMMENTS_DESC">Most commented</option>
          <option value="http://localhost:5000/suggestionlisting/COMMENTS_ASC">Least commented</option>
          <option value="http://localhost:5000/suggestionlisting/CREATED_DESC">Newest first</option>
          <option value="http://localhost:5000/suggestionlisting/CREATED_ASC">Oldest first</option>
        </select>
      </td>
      <td>
        <!-- status -->
        <select name="statusSelector" id="statusSelector">
          <option value="a{space" selected="selected">Select/clear</option>
          <option value="a:RECEIVED|">RECEIVED</option>
          <option value="a:READ|">READ</option>
          <option value="a:ACCEPTED|">ACCEPTED</option>
          <option value="a:REJECTED|">REJECTED</option>
          <option value="a:RETAINED|">RETAINED</option>
          <option value="a:ARCHIVED|">ARCHIVED</option>
        </select>
      </td>
      <td>
        <!-- type -->
        <select name="typeSelector" id="typeSelector">
          <option value="b{space" selected="selected">Select/clear</option>
          <option value="b:NEW|">NEW</option>
          <option value="b:MODIFY|">MODIFY</option>
        </select>
      </td>
      <td>
        <!-- tags -->
        <select class="tagsSelector" name="tagsSelector[]" id="tagsSelector" multiple="multiple">
          <option disabled selected value="">Select the labels</option>
          <option value="OPT1">OPT1</option>
          <option value="OPT2">OPT2</option>
          <option value="OPT3">OPT3</option>
          <option value="OPT4">OPT4</option>
          <option value="OPT5">OPT5</option>
          <option value="OPT6">OPT6</option>
          <option value="OPT7">OPT7</option>
          <option value="OPT8">OPT8</option>
          <option value="OPT9">OPT9</option>
          <option value="OPT10">OPT10</option>
        </select>
      </td>
    </tr>
  </tbody>
  </table>
</form>

<!-- <p id="heyItWorks">Does it work?*</p> -->


<script type="text/javascript">

// Check if Ajax is working*
// $('#heyItWorks').click(function(){
//   alert("Go to Google");
// });

// Check if Vanilla is working*
// document.getElementById('heyItWorks').onclick = function() {
//   alert("Hey, it works!");
// }

// Check if Jquery is working
// window.onload = function() {
//     if (window.jQuery) {
//         alert("Hey, it works!");
//     } else {
//         alert("Ouhttps://helsinki.zoom.us/j/2906260184?pwd=SXJVYnZGRWd6Yit0TW5LZE95OXRiQT09 nou");
//     }
// }



  // status
  let baseLink = 'http://localhost:8080/';
  let linkSectionForStatus = '', linkSectionForTypes = '', linkSectionForTags = '';
  var linkForSearchAndFiltering = {
    "statusPart": "",
    "typePart": "",
    "tagsPart": []
  }
  var fromStatusSelector = document.getElementById('statusSelector');
  fromStatusSelector.onchange = function() {
    var fromThisBox = this.options[this.selectedIndex];
    if (fromThisBox.value.includes('a{space')) {
      linkSectionForStatus = linkSectionForStatus.replace(/a:.*\|/, ``); // tässä on joku ongelma, ei korvaa haettua subia uudella
    } else if (linkSectionForStatus.includes('a:')) {
      linkSectionForStatus = linkSectionForStatus.replace(/a:.*\|/, fromThisBox.value);
    } else {
      linkSectionForStatus = `${linkSectionForStatus}${fromThisBox.value}`;
    }
    linkForSearchAndFiltering['statusPart'] = linkSectionForStatus;
    console.log(`${baseLink}${linkForSearchAndFiltering.statusPart}${linkForSearchAndFiltering.typePart}${linkForSearchAndFiltering.tagsPart}`);
  }
  // types
  var fromTypeSelector = document.getElementById('typeSelector');
  fromTypeSelector.onchange = function() {
    var fromThisBox = this.options[this.selectedIndex];
    if (fromThisBox.value.includes('b{space')) {
      linkSectionForTypes = linkSectionForTypes.replace(/b:.*\|/, ``); // tässä on joku ongelma, ei korvaa haettua subia uudella
    } else if (linkSectionForTypes.includes('b:')) {
      linkSectionForTypes = linkSectionForTypes.replace(/b:.*\|/, fromThisBox.value);
    } else {
      linkSectionForTypes = `${linkSectionForTypes}${fromThisBox.value}`;
    }
    linkForSearchAndFiltering['typePart'] = linkSectionForTypes;
    console.log(`${baseLink}${linkForSearchAndFiltering.statusPart}${linkForSearchAndFiltering.typePart}${linkForSearchAndFiltering.tagsPart}`);
  }

  $(document).ready(function() {
    $('.tagsSelector').select2();
    $('.tagsSelector').change('select2:select', function (helperArgument) {
      var selectedValues = $(helperArgument.currentTarget).val();
      linkForSearchAndFiltering['tagsPart'] = selectedValues;
      if (selectedValues.length > 0) {
        var tagsCollection = "";
        selectedValues.forEach(function(oneTagLabel){
          tagsCollection += oneTagLabel.concat('%08');
        });
        console.log(`${baseLink}${linkForSearchAndFiltering.statusPart}${linkForSearchAndFiltering.typePart}tags:${tagsCollection}`);
      }
    });
  });

  // This function will read the linkForSearchAndFiltering and redirects the user to the listing page
  var urlMenu = document.getElementById('links');
  console.log(urlMenu)
  urlMenu.onchange = function() {
    var userOption = this.options[this.selectedIndex];
    console.log("Käyttäjän valinta")
    console.log(userOption.value);
    if (userOption.value != "nothing") {
        window.open(userOption.value);
    }
  }
</script>

<div>
  <p>&nbsp;</p>
</div>
<h5>Suggestions -
  {% if sortingAtThePage %}
    {{sortingAtThePage}}
  {% endif %}
</h5>
{% for x in response %}
  <h5><b>#
    {% if 'fi' in x.preferred_labels %}
      {{x.preferred_labels['fi']['value']}} /
      {% endif %}
      {% if 'sv' in x.preferred_labels %}
        {{x.preferred_labels['sv']['value']}} /
      {% endif %}
      {% if 'en' in x.preferred_labels %}
        {{x.preferred_labels['en']['value']}}
      {% endif %}
    </b></h5>
    <!-- Next following will be implemented later on -->
  <p><a href="http://localhost:5000/suggestion/{{x['id']}}">Go to suggestion</a>/
    Id:</h6> {{x['id']}} /
    Created:</h6> {{x['created']}} /
    Modified:</h6> {{x['modified']}}
    <!--
    Description:</h6> {{x['description']}}
  -->
    <!--
    <p><h6>* Equivalences</h6><br>
        {% for y in x.exactMatches: %}
            Vocab: {{y.vocab}} / url: {{y.value}} <br>
        {% endfor %}
    </p>
    -->
    <!-- Comment actions will be implemented until the paging is ready
    <p><h6>Comments:</h6><br>
        {% for z in x.events: %}
            {% if 'COMMENT' in z['event_type'] %}
                - Created: {{z.created}} <br>
                - Modified: {{z.modified}} <br>
                - Text: <br><i>{{z.text}} / {{z.value}}</i> <br>
                - From user: {{z.user_id}} <br>
                <a href="http://localhost:5000/comment/{{x['id']}}/%22cba%22/2/%22cba%20cba%22">Add comment</a>
                ...<br>
            {% endif %}
        {% endfor %}
    </p>
  -->

{% endfor %}

{% endblock %}
