{% extends 'base.html' %}
{% block title %}Suggestions{% endblock %}
{% block content %}

<div>
  <p>&nbsp;</p>
</div>
<form name="SelectTheSorting">
  <table>
  <thead>
    <tr>
      <th colspan="4">Search options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" style="border-style: solid; border-width:1px;">
        <label for="searchTerms">Type your search criteria</label><br>
        <input type="text" id="searchTerms" name="searchTerms" style="border-width: 2px; width: 100%; "><br>
        <!--
        Tips for the future
        -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
        -->
      </td>
    </tr>
    <tr>
      <td><b><font style="color:red;">Sort and Go</font</b></td>
      <td>Status</td>
      <td>Type</td>
      <td>Labels</td>
    </tr>
    <tr>
      <td>
        <!-- original starts -->
        <!-- // http://localhost:8080/suggestions/?filters=status:received|type:new|tags:slm musiikki&search=sovit&sort=CREATED_ASC
        // http://localhost:8080/suggestions/?filters=status%3Areceived%7Ctype%3Anew%7Ctags%3Aslm%08musiikki&search=sovit&sort=CREATED_ASC
        // : 	%3A
        // |  %7C
        // backspace %08 -->
        <!-- sorting -->
        <select name="links" id="links">
          <option value="nothing" selected="selected">No sorting</option>
          <option value="http://localhost:5000/suggestionlisting/DEFAULT">Default</option>
          <option value="http://localhost:5000/suggestionlisting/COMMENTS_DESC">Most commented</option>
          <option value="http://localhost:5000/suggestionlisting/COMMENTS_ASC">Least commented</option>
          <option value="http://localhost:5000/suggestionlisting/CREATED_DESC">Newest first</option>
          <option value="http://localhost:5000/suggestionlisting/CREATED_ASC">Oldest first</option>
        </select>
      </td>
      <td>
        <!-- status -->
        <select name="statusSelector" id="statusSelector">
          <option value="a{space" selected="selected">Select/clear</option>
          <option value="a:RECEIVED|">RECEIVED</option>
          <option value="a:READ|">READ</option>
          <option value="a:ACCEPTED|">ACCEPTED</option>
          <option value="a:REJECTED|">REJECTED</option>
          <option value="a:RETAINED|">RETAINED</option>
          <option value="a:ARCHIVED|">ARCHIVED</option>
        </select>
      </td>
      <td>
        <!-- type -->
        <select name="typeSelector" id="typeSelector">
          <option value="b{space" selected="selected">Select/clear</option>
          <option value="b:NEW¤">NEW</option>
          <option value="b:MODIFY¤">MODIFY</option>
        </select>
      </td>
      <td>
        <!-- tags -->

        <select class="tagsSelector" name="tagsSelector[]" id="tagsSelector" multiple="multiple">
          <option disabled selected value="">Select the labels</option>
        </select>
      </td>
    </tr>
  </tbody>
  </table>
</form>

<!-- For Vanilla, Ajax and jQuery testing -->
<!-- <p id="heyItWorks">Does it work?*</p> -->
<!-- ends -->

<script type="text/javascript">

// For Vanilla, Ajax and jQuery testing
// Check if Vanilla is working*
// document.getElementById('heyItWorks').onclick = function() {
//   alert("Hey, it works!");
// }

// Check if Ajax is working*
// $('#heyItWorks').click(function(){
//   alert("Go to Google");
// });

// Check if Jquery is working
// window.onload = function() {
//     if (window.jQuery) {
//         alert("Hey, it works!");
//     } else {
//         alert("Ouhttps://helsinki.zoom.us/j/2906260184?pwd=SXJVYnZGRWd6Yit0TW5LZE95OXRiQT09 nou");
//     }
// }
// Ends

// Next block is used to generate options for tagsSelector multiple dropdown box
var select = document.getElementById('tagsSelector');
let labelData = JSON.parse('{{ labelList | tojson }}');

for (var i = 0; i <= labelData.length; i++){
    var opt = document.createElement('option');
    opt.value = labelData[i];
    opt.innerHTML = labelData[i];
    select.appendChild(opt);
}


  // status
  let placeHolderArg = 'x:|';
  var filterCollection = ''
  let linkSectionForStatus = '', linkSectionForTypes = '', linkSectionForTags = '';
  var linkForSearchAndFiltering = {
    "statusPart": "",
    "typePart": "",
    "tagsPart": []
  }
  var urlArguments = ''
  var tagsCollection = "";
  var fromStatusSelector = document.getElementById('statusSelector');
  fromStatusSelector.onchange = function() {
    var fromThisBox = this.options[this.selectedIndex];
    if (fromThisBox.value.includes('a{space')) {
      linkSectionForStatus = linkSectionForStatus.replace(/a:.*\|/, ``);
    } else if (linkSectionForStatus.includes('a:')) {
      linkSectionForStatus = linkSectionForStatus.replace(/a:.*\|/, fromThisBox.value);
    } else {
      linkSectionForStatus = `${linkSectionForStatus}${fromThisBox.value}`;
    }
    linkForSearchAndFiltering['statusPart'] = linkSectionForStatus;
    urlArguments = `${placeHolderArg}${linkForSearchAndFiltering.statusPart}${linkForSearchAndFiltering.typePart}${tagsCollection}`;
  }
  // types
  var fromTypeSelector = document.getElementById('typeSelector');
  fromTypeSelector.onchange = function() {
    var fromThisBox = this.options[this.selectedIndex];
    if (fromThisBox.value.includes('b{space')) {
      linkSectionForTypes = linkSectionForTypes.replace(/b:.*¤/, ``);
    } else if (linkSectionForTypes.includes('b:')) {
      linkSectionForTypes = linkSectionForTypes.replace(/b:.*¤/, fromThisBox.value);
    } else {
      linkSectionForTypes = `${linkSectionForTypes}${fromThisBox.value}`;
    }
    linkForSearchAndFiltering['typePart'] = linkSectionForTypes;
    urlArguments = `${placeHolderArg}${linkForSearchAndFiltering.statusPart}${linkForSearchAndFiltering.typePart}${tagsCollection}`;
  }


  $(document).ready(function() {
    $('.tagsSelector').select2();
    $('.tagsSelector').change('select2:select', function (helperArgument) {
      tagsCollection = "";
      var selectedValues = $(helperArgument.currentTarget).val();
      linkForSearchAndFiltering['tagsPart'] = selectedValues;
      if (selectedValues.length > 0) {
        selectedValues.forEach(function(oneTagLabel){
          tagsCollection += '*'.concat(oneTagLabel);
        });
        urlArguments = `${placeHolderArg}${linkForSearchAndFiltering.statusPart}${linkForSearchAndFiltering.typePart}${tagsCollection}`;
      }
    });
  });

  // This function will read the linkForSearchAndFiltering and redirects the user to the listing page
  // Note: Change the loading according to onChange principles
  var urlMenu = document.getElementById('links');
  urlMenu.onchange = function() {
    // Search textbox
    var searchText = document.getElementById('searchTerms').value;
    if (searchText.length == 0) {
      searchText = "noSearchStringSubmitted";
    }
    var userOption = this.options[this.selectedIndex];
    if (userOption.value != "nothing") {
      if(urlArguments.length == 0) {
        window.open(userOption.value.concat(`/noArguments/${searchText}`));
      } else {
        window.open(userOption.value.concat(`/${urlArguments}/${searchText}`));
      }
    }
  }
</script>

<div>
  <p>&nbsp;</p>
</div>
<h5>Suggestions -
  {% if sortingAtThePage %}
    {{sortingAtThePage}}
  {% endif %}
</h5>
{% for x in response %}
  <h5><b>#
    {% if 'fi' in x.preferred_labels %}
      {{x.preferred_labels['fi']['value']}} /
      {% endif %}
      {% if 'sv' in x.preferred_labels %}
        {{x.preferred_labels['sv']['value']}} /
      {% endif %}
      {% if 'en' in x.preferred_labels %}
        {{x.preferred_labels['en']['value']}}
      {% endif %}
    </b></h5>
    <!-- Next following will be implemented later on -selectElementId-->
  <p><a href="http://localhost:5000/suggestion/{{x['id']}}">Go to suggestion</a>/
    Id:</h6> {{x['id']}} /
    Created:</h6> {{x['created']}} /
    Modified:</h6> {{x['modified']}}
    <!--
    Description:</h6> {{x['description']}}
  -->
    <!--
    <p><h6>* Equivalences</h6><br>
        {% for y in x.exactMatches: %}
            Vocab: {{y.vocab}} / url: {{y.value}} <br>
        {% endfor %}
    </p>
    -->
    <!-- Comment actions will be implemented until the paging is ready
    <p><h6>Comments:</h6><br>
        {% for z in x.events: %}
            {% if 'COMMENT' in z['event_type'] %}
                - Created: {{z.created}} <br>
                - Modified: {{z.modified}} <br>
                - Text: <br><i>{{z.text}} / {{z.value}}</i> <br>
                - From user: {{z.user_id}} <br>
                <a href="http://localhost:5000/comment/{{x['id']}}/%22cba%22/2/%22cba%20cba%22">Add comment</a>
                ...<br>
            {% endif %}
        {% endfor %}
    </p>

 -->


{% endfor %}

{% endblock %}
